<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container menu-nav text-white" th:fragment="navigation">
            <nav class="navbar navbar-expand-lg ktisclinic-bg ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu text-white"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-wheelchair"></i> Patients</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/patient}">All Patients</a>
                                <a class="dropdown-item" th:href="@{/patient/add}">Add Patient</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-md"></i> Doctors</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/doctor}">All Doctors</a>
                                <a class="dropdown-item" th:href="@{/doctor/add}">Add Doctor</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-stethoscope"></i> Examinations</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/}">All Examinations</a>
                                <a class="dropdown-item" th:href="@{/}">Add Examination</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-plus-square"></i> Treatments</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/}">All Treatments</a>
                                <a class="dropdown-item" th:href="@{/}">Add Treatment</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-plus-square"></i> Services</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/}">All Services</a>
                                <a class="dropdown-item" th:href="@{/}">Add Service</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-heartbeat"></i> Nurses</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/nurse}">All Nurses</a>
                                <a class="dropdown-item" th:href="@{/nurse/add}">Add Nurse</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-medkit"></i> Medicines</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/}">All Medicines</a>
                                <a class="dropdown-item" th:href="@{/}">Add Medicine</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>