<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<form method="POST" action="" th:object="${med}" th:action="@{/med/edit/{nameMed}(nameMed=${med.nameMed})}">
    <h1>Edit Med</h1>
    <table cellspacing="5" border="0">
        <tr>
            <td align="right"><label for="price">Price: </label></td>
            <td align="right"><input name="price" type="text" th:field="*{price}"/></td>
        </tr>

        <tr>
            <td align="right"><label for="usedFor">UserFor: </label></td>
            <td align="right"><input name="usedFor" type="text" th:field="*{usedFor}"/></td>
        </tr>

        <tr>
            <td></td>
            <td><br><input type="submit" value="Submit"></td>
        </tr>
    </table>

</form>
</body>
</html>