

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><title>Edit Examination</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<form method="POST" th:action="@{/examination/edit/{id}/{id2}/{id3}(id=${examination.IDExamination},id2=${examination.ID_DoctorExamination},id3=${examination.IDPatient})}"  th:object="${examination}">
    <h1>Edit this Examination Schedule!</h1>
    <h3>Input the Examination information ...</h3>
    <table cellspacing="5" border="0">
        <tr>
            <td align="right"><label for="atTime">atTime: </label></td>
            <td align="right"><input name="atTime" type="text" th:field="*{atTime}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><br><input type="submit" value="Submit"></td>
        </tr>
    </table>

</form>
</body>
</html>