<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<form method="POST" th:action="@{/doctor}" action="" th:object="${doctor}">
    <h1>Add a new Ingredient!</h1>
    <h3>Input the ingredient information ...</h3>
    <table cellspacing="5" border="0">
        <tr>
            <td align="right"><label for="id">ID: </label></td>
            <td align="right"><input name="id" type="text" th:field="*{ID_Doctor} "/></td>
        </tr>
        <tr>
            <td align="right"><label for="identity">Identity_Number: </label></td>
            <td align="right"><input name="identity" type="text" th:field="*{identityNumber}"/></td>
        </tr>
        <tr>
            <td align="right"><label for="name">Name_Doctor: </label></td>
            <td align="right"><input name="name" type="text" th:field="*{nameDoctor}"/></td>
        <tr>
            <td align="right"><label for="dob">DOB: </label></td>
            <td align="right"><input name="dob" type="text" th:field="*{DOB}"/></td>
        </tr>
        <tr>
            <td align="right"><label for="address">Address: </label></td>
            <td align="right"><input name="address" type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td align="right"><label for="exp">Exp: </label></td>
            <td align="right"><input name="exp" type="text" th:field="*{exp}"/></td>
        </tr>
        <tr>
            <td align="right"><label for="diploma">Diploma: </label></td>
            <td align="right"><input name="diploma" type="text" th:field="*{diploma}"/></td>
        </tr>
        <tr>
            <td align="right"><label for="field">Field: </label></td>
            <td align="right"><input name="field" type="text" th:field="*{field}"/></td>
        </tr>
        <tr>
            <td align="right"><label for="position">Position: </label></td>
            <td align="right"><input name="position" type="text" th:field="*{position}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><br><input type="submit" value="Submit"></td>
        </tr>
    </table>

</form>
</body>
</html>