<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<form method="POST" th:action="@{/service}" action="" th:object="${service}">
    <h1>Add a new Service</h1>
    <h3>Input the service information ...</h3>
    <table cellspacing="5" border="0">
        <tr>
            <td align="right"><label for="nameService">Name Service: </label></td>
            <td align="right"><input name="nameService" type="text" th:field="*{nameService} "/></td>
        </tr>
        <tr>
            <td align="right"><label for="price">Price: </label></td>
            <td align="right"><input name="price" type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><br><input type="submit" value="Submit"></td>
        </tr>
    </table>

</form>
</body>
</html>