<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><title>Add Med</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<form method="POST" th:action="@{/med}" action="" th:object="${med}">
    <h1>Add a new Ingredient!</h1>
    <h3>Input the ingredient information ...</h3>
    <table cellspacing="5" border="0">
        <tr>
            <td align="right"><label for="nameMed">ID: </label></td>
            <td align="right"><input name="nameMed" type="text" th:field="*{nameMed} "/></td>
        </tr>
        <tr>
            <td align="right"><label for="price">Identity_Number: </label></td>
            <td align="right"><input name="price" type="text" th:field="*{price}"/></td>
        </tr>

        <tr>
            <td align="right"><label for="usedFor">Address: </label></td>
            <td align="right"><input name="usedFor" type="text" th:field="*{usedFor}"/></td>
        </tr>

        <tr>
            <td></td>
            <td><br><input type="submit" value="Submit"></td>
        </tr>
    </table>

</form>
</body>
</html>