<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information Doctor</title>
</head>
<body>
<h1>Information Doctor</h1>
<form method="get " th:action="@{/}" action="#">
    <div>
        <input/>
        <button></button>
    </div>
    <div>
        <table cellpadding="5" border="1" th:object="${doctors}">
            <tr>
                <td align="right"><label for="id">ID</label></td>
                <td align="right"><label for="identity">IdentityNo</label></td>
                <td align="right"><label for="name">Name</label></td>
                <td align="right"><label for="dob">DOB</label></td>
                <td align="right"><label for="address">Address</label></td>
                <td align="right"><label for="exp">Experience</label></td>
                <td align="right"><label for="diploma">Diploma</label></td>
                <td align="right"><label for="field">Field</label></td>
                <td align="right"><label for="position">Position</label></td>

            </tr>
            <tr th:each="doctor:${doctors}">
                <td align="left"><label th:text="${doctor.ID_Doctor}"></label></td>
                <td align="left"><label th:text="${doctor.identityNumber}"></label></td>
                <td align="left"><label th:text="${doctor.nameDoctor}"></label></td>
                <td align="left"><label th:text="${doctor.DOB}"></label></td>
                <td align="left"><label th:text="${doctor.address}"></label></td>
                <td align="left"><label th:text="${doctor.exp}"></label></td>
                <td align="left"><label th:text="${doctor.diploma}"></label></td>
                <td align="left"><label th:text="${doctor.field}"></label></td>
                <td align="left"><label th:text="${doctor.position}"></label></td>
            </tr>
        </table>
    </div>
</form>
<h2><a th:href="@{/doctor/add}" href="#">Add new Doctor</a></h2>
</body>
</html>