<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information Medicine</title>
</head>
<body>
<h1>Information Medicine</h1>
<form method="get " th:action="@{/}" action="#">
    <div>
        <input/>
        <button></button>
    </div>
    <div>
        <table cellpadding="5" border="1" th:object="${meds}">
            <tr>
                <td align="right"><label for="nameMed">Name</label></td>
                <td align="right"><label for="price">Price</label></td>
                <td align="right"><label for="usedFor">Used For</label></td>


            </tr>
            <tr th:each="med:${meds}">
                <td align="left"><label th:text="${med.nameMed}"></label></td>
                <td align="left"><label th:text="${med.price}"></label></td>
                <td align="left"><label th:text="${med.usedFor}"></label></td>

            </tr>
        </table>
    </div>
</form>
<h2><a th:href="@{/Med/add}" href="#">Add new Medicine</a></h2>
</body>
</html>