<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information Medicine List</title>
</head>
<body>
<h1>Information Medicine List</h1>
<form method="get " th:action="@{/medlist/search}" action="#">
    <div>
        <input name="id" type="text" placeholder="Search Id..."/>
        <button>Search</button>
    </div>
    <div>
        <table cellpadding="5" border="1" th:object="${medlists}">
            <tr>
                <td align="right"><label for="ID_Treatment">ID Treatment</label></td>
                <td align="right"><label for="IDExamination">ID Examination</label></td>
                <td align="right"><label for="IDPatient">ID Patient</label></td>
                <td align="right"><label for="nameDisease">Name Disease</label></td>
                <td align="right"><label for="ID_DoctorExamination">ID Doctor Examination</label></td>
                <td align="right"><label for="ID_DoctorCure">ID Doctor Cure</label></td>
                <td align="right"><label for="ID_Nurse">ID Nurse</label></td>
                <td align="right"><label for="nameMed">Name Med</label></td>

                <td align="right"><label for="delete">Delete</label></td>
            </tr>
            <tr th:each="medlist:${medlists}">
                <td align="left"><label th:text="${medlist.ID_Treatment}"></label></td>
                <td align="left"><label th:text="${medlist.IDExamination}"></label></td>
                <td align="left"><label th:text="${medlist.IDPatient}"></label></td>
                <td align="left"><label th:text="${medlist.nameDisease}"></label></td>
                <td align="left"><label th:text="${medlist.ID_DoctorExamination}"></label></td>
                <td align="left"><label th:text="${medlist.ID_DoctorCure}"></label></td>
                <td align="left"><label th:text="${medlist.ID_Nurse}"></label></td>
                <td align="left"><label th:text="${medlist.nameMed}"></label></td>

                <td><a href="#" th:href="@{/medlist/delete/{id}/{id2}/{id3}/{id4}/{id5}/{id6}/{id7}/{id8}
                (id=${medlist.nameMed},
                id2=${medlist.ID_Treatment},
                id3=${medlist.IDExamination},
                id4=${medlist.nameDisease},
                id5=${medlist.ID_DoctorExamination},
                id6=${medlist.ID_DoctorCure},
                id7=${medlist.IDPatient},
                id8=${medlist.ID_Nurse})}">Delete</a></td>
            </tr>
        </table>
    </div>
</form>
<h2><a th:href="@{/medlist/add}" href="#">Add new Medicine List</a></h2>
</body>
</html>